[Desktop Entry]
Name=Obsidian
Type=Application
Categories=Office
Comment=Obsidian - a powerful note-taking app
Icon=/home/tym/AppImages/obsidian.png
Exec=/home/tym/AppImages/Obsidian.AppImage

